/* Styles only for the header and logo */
h1 img.logo {
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

/* Styles only for the navigation bar */
.tab {
    display: flex;
    justify-content: center;
    background-color: #34495e;
    padding: 5px 0;
    flex-wrap: wrap;
}

.tab a {
    padding: 8px 10px;  /* Reduce padding */
    margin: 2px;  /* Reduce margin between buttons */
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Styles for the Back to Top button */
#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2c3e50; /* Dark background color */
    color: white; /* White text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 50px; /* Set a specific width */
    height: 50px; /* Set a specific height */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#backToTopBtn:hover {
    background-color: #34495e; /* Darker background on hover */
}